USE [CHUNGKHOAN]
GO
/****** Object:  Table [dbo].[CONGTYCK]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTYCK](
	[ID] [nvarchar](10) NOT NULL,
	[TENCONGTY] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CONGTYCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COPHIEU]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COPHIEU](
	[MACP] [nvarchar](6) NOT NULL,
	[TENCONGTY] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[FAX] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[TONGSOLUONGCP] [int] NULL,
	[IDSAN] [nvarchar](15) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_COPHIEU] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDANHMUC]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDANHMUC](
	[IDSAN] [nvarchar](15) NOT NULL,
	[IDQUYDINH] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTDANHMUC_1] PRIMARY KEY CLUSTERED 
(
	[IDSAN] ASC,
	[IDQUYDINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCQUYDINH]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCQUYDINH](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TENQUYDINH] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANHMUCQUYDINH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[MATKNH] [nvarchar](15) NOT NULL,
	[MACP] [nvarchar](6) NOT NULL,
	[LOAILENH] [nvarchar](15) NULL,
	[LOAIGD] [nvarchar](15) NULL,
	[SOLUONG] [int] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[NGAYDATLENH] [datetime] NULL,
	[GIA] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDLENHKHOP] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NGAYKHOP] [datetime] NULL,
	[SOLUONGKHOP] [int] NULL,
	[GIAKHOP] [float] NULL,
	[PHI] [float] NULL,
	[MALENHDAT] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LENHKHOP_1] PRIMARY KEY CLUSTERED 
(
	[IDLENHKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUGIA]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUGIA](
	[GIASAN] [float] NULL,
	[GIATRAN] [float] NULL,
	[GIATHAMCHIEU] [float] NULL,
	[IDCOPHIEU] [nvarchar](6) NULL,
	[NGAY] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LICHSUGIA_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDT]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDT](
	[MATK] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HO] [nchar](30) NULL,
	[TEN] [nchar](30) NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[CMND] [nvarchar](20) NOT NULL,
	[NGAYCAP] [datetime] NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[IDCONGTY] [nvarchar](10) NULL,
	[MATKHAUDATLENH] [nvarchar](20) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NDT] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANHANG]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANHANG](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TENNGANHANG] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NGANHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HO] [nvarchar](30) NULL,
	[TEN] [nvarchar](30) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [nvarchar](10) NULL,
	[IDCONGTY] [nvarchar](10) NULL,
	[DANGHIVIEC] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIENSAN]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIENSAN](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HO] [nvarchar](30) NULL,
	[TEN] [nvarchar](30) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GIOITINH] [nchar](10) NULL,
	[SDT] [nvarchar](10) NULL,
	[IDSAN] [nvarchar](15) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NHANVIENSAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANGIAODICH]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANGIAODICH](
	[ID] [nvarchar](15) NOT NULL,
	[TENSAN] [nvarchar](70) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SANGIAODICH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOHUUCOPHIEU]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOHUUCOPHIEU](
	[MACP] [nvarchar](6) NOT NULL,
	[MANDT] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SOHUUCOPHIEU] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC,
	[MANDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANNGANHANG]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANNGANHANG](
	[MATK] [nvarchar](15) NOT NULL,
	[TENTAIKHOAN] [nvarchar](30) NULL,
	[IDNDT] [int] NULL,
	[IDNGANHANG] [int] NULL,
	[SODU] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TAIKHOANNGANHANG] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAYDOIGIADANHMUC]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAYDOIGIADANHMUC](
	[IDNHANVIEN] [int] NOT NULL,
	[IDCTDANHMUC] [int] NOT NULL,
	[GIATRI] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_THAYDOIGIADANHMUC] PRIMARY KEY CLUSTERED 
(
	[IDNHANVIEN] ASC,
	[IDCTDANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CONGTYCK] ([ID], [TENCONGTY], [DIACHI], [rowguid]) VALUES (N'010', N'CÔNG TY A', N'69/19 ĐƯỜNG 49 , P. HIỆP BÌNH PHƯỚC , TP. THỦ ĐỨC, TPHCM', N'1b2483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[CONGTYCK] ([ID], [TENCONGTY], [DIACHI], [rowguid]) VALUES (N'020', N'CÔNG TY B', N'70/19 ĐƯỜNG 25 , P. HIỆP BÌNH CHÁNH , TP. THỦ ĐỨC, TPHCM', N'1c2483d9-b09a-ef11-bae8-90cdb62c3dca')
GO
INSERT [dbo].[COPHIEU] ([MACP], [TENCONGTY], [DIACHI], [SDT], [FAX], [EMAIL], [TONGSOLUONGCP], [IDSAN], [rowguid]) VALUES (N'AAA', N'Công ty B', N'TP HCM', N'9999', N'9999', N'HAIMAI', 2000000, N'HNX', N'd8002e86-bb9a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[COPHIEU] ([MACP], [TENCONGTY], [DIACHI], [SDT], [FAX], [EMAIL], [TONGSOLUONGCP], [IDSAN], [rowguid]) VALUES (N'AAB', N'Công Ty PT&T', N'Ðông hà', N'9999', N'9999', N'HAIMAI', 2000000, N'HNX', N'03320f11-2ba4-ef11-baec-90cdb62c3dca')
INSERT [dbo].[COPHIEU] ([MACP], [TENCONGTY], [DIACHI], [SDT], [FAX], [EMAIL], [TONGSOLUONGCP], [IDSAN], [rowguid]) VALUES (N'AAC', N'Công ty B', N'TP HCM', N'9999', N'9999', N'HAIMAI', 2000000, N'HNX', N'7903c6ae-90a4-ef11-baed-90cdb62c3dca')
GO
SET IDENTITY_INSERT [dbo].[CTDANHMUC] ON 

INSERT [dbo].[CTDANHMUC] ([IDSAN], [IDQUYDINH], [ID], [rowguid]) VALUES (N'HNX', 2, 1, N'3ed7a9b6-b29a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[CTDANHMUC] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUCQUYDINH] ON 

INSERT [dbo].[DANHMUCQUYDINH] ([ID], [TENQUYDINH], [rowguid]) VALUES (2, N'QUY ĐỊNH BIÊN ĐỘ GIÁ', N'3ad7a9b6-b29a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[DANHMUCQUYDINH] ([ID], [TENQUYDINH], [rowguid]) VALUES (24003, N'QUY ĐỊNH B', N'3bd7a9b6-b29a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[DANHMUCQUYDINH] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([MATKNH], [MACP], [LOAILENH], [LOAIGD], [SOLUONG], [TRANGTHAI], [NGAYDATLENH], [GIA], [ID], [rowguid]) VALUES (N'5', N'ABC123', N'LO', N'M', 15, N'CHO KHOP', CAST(N'2024-05-05T00:00:00.000' AS DateTime), 1505, 1, N'3a2483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[LENHDAT] ([MATKNH], [MACP], [LOAILENH], [LOAIGD], [SOLUONG], [TRANGTHAI], [NGAYDATLENH], [GIA], [ID], [rowguid]) VALUES (N'5', N'ABC123', N'LO', N'M', 0, N'KHOP HET', CAST(N'2024-05-05T00:00:00.000' AS DateTime), 1506, 2, N'3b2483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[LENHDAT] ([MATKNH], [MACP], [LOAILENH], [LOAIGD], [SOLUONG], [TRANGTHAI], [NGAYDATLENH], [GIA], [ID], [rowguid]) VALUES (N'2', N'ABC123', N'LO', N'B', 1, N'CHO KHOP', CAST(N'2024-05-05T00:28:46.023' AS DateTime), 1504, 2003, N'3c2483d9-b09a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDLENHKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [PHI], [MALENHDAT], [rowguid]) VALUES (45, CAST(N'2024-10-30T15:42:55.610' AS DateTime), 10, 1501, 450.3, 2006, N'402483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[LENHKHOP] ([IDLENHKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [PHI], [MALENHDAT], [rowguid]) VALUES (46, CAST(N'2024-10-30T15:42:55.610' AS DateTime), 10, 1501, 450.3, 1, N'412483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[LENHKHOP] ([IDLENHKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [PHI], [MALENHDAT], [rowguid]) VALUES (47, CAST(N'2024-10-30T15:42:55.633' AS DateTime), 5, 1502, 225.29999999999998, 2005, N'422483d9-b09a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
GO
SET IDENTITY_INSERT [dbo].[LICHSUGIA] ON 

INSERT [dbo].[LICHSUGIA] ([GIASAN], [GIATRAN], [GIATHAMCHIEU], [IDCOPHIEU], [NGAY], [ID], [rowguid]) VALUES (101.9, 106, 103, N'ABC123', CAST(N'2024-10-28T00:00:00.000' AS DateTime), 46005, N'342483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[LICHSUGIA] ([GIASAN], [GIATRAN], [GIATHAMCHIEU], [IDCOPHIEU], [NGAY], [ID], [rowguid]) VALUES (1426.9, 1577.1, 1502, N'AAA', CAST(N'2024-11-04T23:23:12.693' AS DateTime), 46013, N'e0b4d115-c99a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[LICHSUGIA] ([GIASAN], [GIATRAN], [GIATHAMCHIEU], [IDCOPHIEU], [NGAY], [ID], [rowguid]) VALUES (1426.9, 1577.1, 1502, N'FPT', CAST(N'2024-11-04T23:23:12.697' AS DateTime), 46014, N'e1b4d115-c99a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[LICHSUGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[NDT] ON 

INSERT [dbo].[NDT] ([MATK], [HO], [TEN], [NGAYSINH], [NOISINH], [GIOITINH], [DIACHI], [EMAIL], [CMND], [NGAYCAP], [MATKHAU], [IDCONGTY], [MATKHAUDATLENH], [rowguid]) VALUES (2002, N'MAI                           ', N'HAI Pro                       ', CAST(N'2002-02-01T00:00:00.000' AS DateTime), N'NAM ĐỊNH', N'NAM', N'ĐÔNG HÀ', N'MAIHAI.TT@GMAIL.COM', N'123456', CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'12', N'010', N'12', N'252483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[NDT] ([MATK], [HO], [TEN], [NGAYSINH], [NOISINH], [GIOITINH], [DIACHI], [EMAIL], [CMND], [NGAYCAP], [MATKHAU], [IDCONGTY], [MATKHAUDATLENH], [rowguid]) VALUES (68002, N'TRẦN                          ', N'NHI                           ', CAST(N'2002-01-01T00:00:00.000' AS DateTime), N'ĐÔNG', N'NỮ', N'ĐÔNG HÀ', N'MAIHAI', N'12345', CAST(N'2002-01-01T00:00:00.000' AS DateTime), N'12', N'020', N'12', N'242483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[NDT] ([MATK], [HO], [TEN], [NGAYSINH], [NOISINH], [GIOITINH], [DIACHI], [EMAIL], [CMND], [NGAYCAP], [MATKHAU], [IDCONGTY], [MATKHAUDATLENH], [rowguid]) VALUES (90003, N'Trần                          ', N'Nhi                           ', CAST(N'2002-01-01T00:00:00.000' AS DateTime), N'đông hà', N'nữ', N'đông hà', N'maihai', N'55', CAST(N'2002-02-01T00:00:00.000' AS DateTime), N'12', N'020', N'12', N'272483d9-b09a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[NDT] OFF
GO
SET IDENTITY_INSERT [dbo].[NGANHANG] ON 

INSERT [dbo].[NGANHANG] ([ID], [TENNGANHANG], [rowguid]) VALUES (2, N'ARIBANK', N'1d2483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[NGANHANG] ([ID], [TENNGANHANG], [rowguid]) VALUES (3, N'VIETCOMBANK', N'1e2483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[NGANHANG] ([ID], [TENNGANHANG], [rowguid]) VALUES (4, N'NAMABANK', N'1f2483d9-b09a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[NGANHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID], [HO], [TEN], [NGAYSINH], [DIACHI], [GIOITINH], [SDT], [IDCONGTY], [DANGHIVIEC], [rowguid]) VALUES (1010, N'LÊ', N'LONG', CAST(N'2002-12-25T00:00:00.000' AS DateTime), N'THỊ TRẤN ĐỨC TÀI, HUYỆN ĐỨC LINH', N'NAM', N'0859074889', N'010', 0, N'292483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[NHANVIEN] ([ID], [HO], [TEN], [NGAYSINH], [DIACHI], [GIOITINH], [SDT], [IDCONGTY], [DANGHIVIEC], [rowguid]) VALUES (1011, N'LÊ', N'VÂN', CAST(N'2002-12-25T00:00:00.000' AS DateTime), N'THỊ TRẤN ĐỨC TÀI, HUYỆN ĐỨC LINH', N'nu', N'0859074889', N'020', 0, N'2a2483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[NHANVIEN] ([ID], [HO], [TEN], [NGAYSINH], [DIACHI], [GIOITINH], [SDT], [IDCONGTY], [DANGHIVIEC], [rowguid]) VALUES (1013, N'Nguyen', N'Van Hanh Pro max', CAST(N'2002-12-25T00:00:00.000' AS DateTime), N'123 Ðu?ng ABC, Qu?n 1, TP. H? Chí Minh', N'Nam', N'0123456789', N'010', 0, N'2b2483d9-b09a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIENSAN] ON 

INSERT [dbo].[NHANVIENSAN] ([ID], [HO], [TEN], [NGAYSINH], [DIACHI], [GIOITINH], [SDT], [IDSAN], [rowguid]) VALUES (2, N'NGUYỄN', N'CHI', CAST(N'2002-02-01T00:00:00.000' AS DateTime), N'ĐÔNG HÀ , PHÚ TÚC , ĐỒNG NAI', N'NAM       ', N'0859074885', N'HNX', N'3cd7a9b6-b29a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[NHANVIENSAN] ([ID], [HO], [TEN], [NGAYSINH], [DIACHI], [GIOITINH], [SDT], [IDSAN], [rowguid]) VALUES (2003, N'Mai', N'Hai Pro', CAST(N'2002-02-02T00:00:00.000' AS DateTime), N'Đông hà, đức linh', N'Nam       ', N'0859074885', N'HNX', N'3dd7a9b6-b29a-ef11-bae8-90cdb62c3dca')
SET IDENTITY_INSERT [dbo].[NHANVIENSAN] OFF
GO
INSERT [dbo].[SANGIAODICH] ([ID], [TENSAN], [rowguid]) VALUES (N'HNX', N'SÀN GIAO DỊCH HÀ NỘI', N'222483d9-b09a-ef11-bae8-90cdb62c3dca')
GO
INSERT [dbo].[SOHUUCOPHIEU] ([MACP], [MANDT], [SOLUONG], [rowguid]) VALUES (N'AAA', 2002, 6490, N'23ef3857-1e9b-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[SOHUUCOPHIEU] ([MACP], [MANDT], [SOLUONG], [rowguid]) VALUES (N'AAA', 92007, 1005, N'35ab59b4-269b-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[SOHUUCOPHIEU] ([MACP], [MANDT], [SOLUONG], [rowguid]) VALUES (N'ABC123', 2002, 1030, N'382483d9-b09a-ef11-bae8-90cdb62c3dca')
GO
INSERT [dbo].[TAIKHOANNGANHANG] ([MATK], [TENTAIKHOAN], [IDNDT], [IDNGANHANG], [SODU], [rowguid]) VALUES (N'2', N'GiaLuc', 92007, 2, 1043688.7999999998, N'352483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[TAIKHOANNGANHANG] ([MATK], [TENTAIKHOAN], [IDNDT], [IDNGANHANG], [SODU], [rowguid]) VALUES (N'3', N'GiaLuc1', 92007, 3, 984550, N'362483d9-b09a-ef11-bae8-90cdb62c3dca')
INSERT [dbo].[TAIKHOANNGANHANG] ([MATK], [TENTAIKHOAN], [IDNDT], [IDNGANHANG], [SODU], [rowguid]) VALUES (N'5', N'Nguyen', 2002, 3, 968158.79999999981, N'372483d9-b09a-ef11-bae8-90cdb62c3dca')
GO
INSERT [dbo].[THAYDOIGIADANHMUC] ([IDNHANVIEN], [IDCTDANHMUC], [GIATRI], [rowguid]) VALUES (2, 1, 0.05, N'3fd7a9b6-b29a-ef11-bae8-90cdb62c3dca')
GO
ALTER TABLE [dbo].[CONGTYCK] ADD  CONSTRAINT [MSmerge_df_rowguid_59E85E163C9245BA9F0B0EF211468A3D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[COPHIEU] ADD  CONSTRAINT [MSmerge_df_rowguid_6A3BC0AEE5D64F23AE59B21777E5D087]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDANHMUC] ADD  CONSTRAINT [MSmerge_df_rowguid_691C8A3926CD4171A8D7722071387D11]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANHMUCQUYDINH] ADD  CONSTRAINT [MSmerge_df_rowguid_6B052FB622CB4F769B1E42D226EEE8E8]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LENHDAT] ADD  CONSTRAINT [MSmerge_df_rowguid_C71175FB871B478297CFC601360DF72C]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LENHKHOP] ADD  CONSTRAINT [MSmerge_df_rowguid_6C0F99CE1514478C90E65AE96B98641C]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LICHSUGIA] ADD  CONSTRAINT [MSmerge_df_rowguid_1A464E91FCF44443B6B68F23C83A8FAD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NDT] ADD  CONSTRAINT [MSmerge_df_rowguid_C4156E9000A94001A0FA846B79A545C3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NGANHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_8F8ABEB9BF9B4A0395DFEC5B45C58D48]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_47823D9D3E384CC2988A1BB464E8F817]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHANVIENSAN] ADD  CONSTRAINT [MSmerge_df_rowguid_BFAA3438BD3645D4935C4D0EBD1155A6]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SANGIAODICH] ADD  CONSTRAINT [MSmerge_df_rowguid_004866B9AD6945009B65483C5FDA8144]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU] ADD  CONSTRAINT [MSmerge_df_rowguid_0B97E1C4947641798800EB1DC09FBFB4]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_6D08F5A00F5B4AC8ABBD9162604941C6]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[THAYDOIGIADANHMUC] ADD  CONSTRAINT [MSmerge_df_rowguid_0D1F56BC74B243BEB7F5B2B5187205DA]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[COPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_COPHIEU_SANGIAODICH] FOREIGN KEY([IDSAN])
REFERENCES [dbo].[SANGIAODICH] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COPHIEU] CHECK CONSTRAINT [FK_COPHIEU_SANGIAODICH]
GO
ALTER TABLE [dbo].[CTDANHMUC]  WITH CHECK ADD  CONSTRAINT [FK_CTDANHMUC_DANHMUCQUYDINH1] FOREIGN KEY([IDQUYDINH])
REFERENCES [dbo].[DANHMUCQUYDINH] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDANHMUC] CHECK CONSTRAINT [FK_CTDANHMUC_DANHMUCQUYDINH1]
GO
ALTER TABLE [dbo].[CTDANHMUC]  WITH CHECK ADD  CONSTRAINT [FK_CTDANHMUC_SANGIAODICH1] FOREIGN KEY([IDSAN])
REFERENCES [dbo].[SANGIAODICH] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDANHMUC] CHECK CONSTRAINT [FK_CTDANHMUC_SANGIAODICH1]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_COPHIEU]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_TAIKHOANNGANHANG] FOREIGN KEY([MATKNH])
REFERENCES [dbo].[TAIKHOANNGANHANG] ([MATK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_TAIKHOANNGANHANG]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([MALENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [FK_GIA_COPHIEU1] FOREIGN KEY([IDCOPHIEU])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [FK_GIA_COPHIEU1]
GO
ALTER TABLE [dbo].[NDT]  WITH CHECK ADD  CONSTRAINT [FK_NDT_CONGTYCK] FOREIGN KEY([IDCONGTY])
REFERENCES [dbo].[CONGTYCK] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NDT] CHECK CONSTRAINT [FK_NDT_CONGTYCK]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CONGTYCK] FOREIGN KEY([IDCONGTY])
REFERENCES [dbo].[CONGTYCK] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CONGTYCK]
GO
ALTER TABLE [dbo].[NHANVIENSAN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIENSAN_SANGIAODICH] FOREIGN KEY([IDSAN])
REFERENCES [dbo].[SANGIAODICH] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIENSAN] CHECK CONSTRAINT [FK_NHANVIENSAN_SANGIAODICH]
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUUCOPHIEU_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU] CHECK CONSTRAINT [FK_SOHUUCOPHIEU_COPHIEU]
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUUCOPHIEU_NDT] FOREIGN KEY([MANDT])
REFERENCES [dbo].[NDT] ([MATK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU] CHECK CONSTRAINT [FK_SOHUUCOPHIEU_NDT]
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANNGANHANG_NDT] FOREIGN KEY([IDNDT])
REFERENCES [dbo].[NDT] ([MATK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG] CHECK CONSTRAINT [FK_TAIKHOANNGANHANG_NDT]
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANNGANHANG_NGANHANG] FOREIGN KEY([IDNGANHANG])
REFERENCES [dbo].[NGANHANG] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG] CHECK CONSTRAINT [FK_TAIKHOANNGANHANG_NGANHANG]
GO
ALTER TABLE [dbo].[THAYDOIGIADANHMUC]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIGIADANHMUC_CTDANHMUC] FOREIGN KEY([IDCTDANHMUC])
REFERENCES [dbo].[CTDANHMUC] ([ID])
GO
ALTER TABLE [dbo].[THAYDOIGIADANHMUC] CHECK CONSTRAINT [FK_THAYDOIGIADANHMUC_CTDANHMUC]
GO
ALTER TABLE [dbo].[THAYDOIGIADANHMUC]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIGIADANHMUC_NHANVIENSAN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIENSAN] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THAYDOIGIADANHMUC] CHECK CONSTRAINT [FK_THAYDOIGIADANHMUC_NHANVIENSAN]
GO
ALTER TABLE [dbo].[CTDANHMUC]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_F641A561_721B_42AB_B70A_C588523888BA] CHECK NOT FOR REPLICATION (([ID]>(1) AND [ID]<=(1001) OR [ID]>(1001) AND [ID]<=(2001)))
GO
ALTER TABLE [dbo].[CTDANHMUC] CHECK CONSTRAINT [repl_identity_range_F641A561_721B_42AB_B70A_C588523888BA]
GO
ALTER TABLE [dbo].[DANHMUCQUYDINH]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_E601FBFD_C25D_4F5F_881E_2C578A15B311] CHECK NOT FOR REPLICATION (([ID]>(24003) AND [ID]<=(25003) OR [ID]>(25003) AND [ID]<=(26003)))
GO
ALTER TABLE [dbo].[DANHMUCQUYDINH] CHECK CONSTRAINT [repl_identity_range_E601FBFD_C25D_4F5F_881E_2C578A15B311]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_29DD8C0A_A4DA_40DB_B614_F7C34B3FA13C] CHECK NOT FOR REPLICATION (([ID]>(2006) AND [ID]<=(3006) OR [ID]>(3006) AND [ID]<=(4006)))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [repl_identity_range_29DD8C0A_A4DA_40DB_B614_F7C34B3FA13C]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_6903D388_E278_436D_B35E_EC6EB0923567] CHECK NOT FOR REPLICATION (([IDLENHKHOP]>(52) AND [IDLENHKHOP]<=(1052) OR [IDLENHKHOP]>(1052) AND [IDLENHKHOP]<=(2052)))
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [repl_identity_range_6903D388_E278_436D_B35E_EC6EB0923567]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_6B9FAFBE_A780_4CE5_9CE8_EF089730E367] CHECK NOT FOR REPLICATION (([ID]>(47005) AND [ID]<=(48005) OR [ID]>(114005) AND [ID]<=(115005)))
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [repl_identity_range_6B9FAFBE_A780_4CE5_9CE8_EF089730E367]
GO
ALTER TABLE [dbo].[NDT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_95113528_47EC_411C_90E5_883FDE086166] CHECK NOT FOR REPLICATION (([MATK]>(92007) AND [MATK]<=(93007) OR [MATK]>(93007) AND [MATK]<=(94007)))
GO
ALTER TABLE [dbo].[NDT] CHECK CONSTRAINT [repl_identity_range_95113528_47EC_411C_90E5_883FDE086166]
GO
ALTER TABLE [dbo].[NGANHANG]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_10419BB5_75D4_407F_805E_8060101ECDE9] CHECK NOT FOR REPLICATION (([ID]>(6) AND [ID]<=(1006) OR [ID]>(1006) AND [ID]<=(2006)))
GO
ALTER TABLE [dbo].[NGANHANG] CHECK CONSTRAINT [repl_identity_range_10419BB5_75D4_407F_805E_8060101ECDE9]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_2F35E7C6_0806_4F29_89C5_0796A9B8B521] CHECK NOT FOR REPLICATION (([ID]>(27022) AND [ID]<=(28022) OR [ID]>(28022) AND [ID]<=(29022)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [repl_identity_range_2F35E7C6_0806_4F29_89C5_0796A9B8B521]
GO
ALTER TABLE [dbo].[NHANVIENSAN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_4EDF741B_B4CD_4259_B84F_D16BE42E35BF] CHECK NOT FOR REPLICATION (([ID]>(2003) AND [ID]<=(3003) OR [ID]>(3003) AND [ID]<=(4003)))
GO
ALTER TABLE [dbo].[NHANVIENSAN] CHECK CONSTRAINT [repl_identity_range_4EDF741B_B4CD_4259_B84F_D16BE42E35BF]
GO
/****** Object:  StoredProcedure [dbo].[CursorLoaiGD]    Script Date: 11/24/2024 11:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CursorLoaiGD]
  @OutCrsr CURSOR VARYING OUTPUT, 
  @macp NVARCHAR( 10), @Ngay NVARCHAR( 10),  @LoaiGD CHAR 
AS
SET DATEFORMAT DMY 
IF (@LoaiGD='M') 
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT NGAYDATLENH, SOLUONG, GIA, ID FROM LENHDAT 
  WHERE MACP=@macp 
     AND DAY(NGAYDATLENH)=DAY(@Ngay)AND MONTH(NGAYDATLENH)= MONTH(@Ngay) AND YEAR(NGAYDATLENH)=YEAR(@Ngay)  
     AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIA DESC, NGAYDATLENH 
ELSE
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT NGAYDATLENH, SOLUONG, GIA, ID FROM LENHDAT 
  WHERE MACP=@macp 
    AND DAY(NGAYDATLENH)=DAY(@Ngay)AND MONTH(NGAYDATLENH)= MONTH(@Ngay) AND YEAR(NGAYDATLENH)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIA, NGAYDATLENH 
OPEN @OutCrsr
GO
/****** Object:  StoredProcedure [dbo].[SP_CTKHOPLENH]    Script Date: 11/24/2024 11:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CTKHOPLENH]
    @IDNDT INT,
    @MACP VARCHAR(50)
AS
BEGIN
    SELECT NGAYKHOP, SOLUONGKHOP, GIAKHOP
    FROM LENHDAT LD
    INNER JOIN LENHKHOP LK ON LD.ID = LK.MALENHDAT
    WHERE LD.MATKNH IN (SELECT TK.MATK
                        FROM TAIKHOANNGANHANG TK 
                        WHERE TK.IDNDT = @IDNDT)
          AND LD.MACP = @MACP;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_KHOPLENH_LO]    Script Date: 11/24/2024 11:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DECLARE @macp NVARCHAR(10) = 'ABC123';
--DECLARE @Ngay NVARCHAR(10) = '05-05-2024';
--DECLARE @LoaiGD CHAR = 'M';
--DECLARE @soluongMB INT = 15;
--DECLARE @giadatMB FLOAT = 1505;
--DECLARE @malenhMB INT = 1;


CREATE PROCEDURE [dbo].[SP_KHOPLENH_LO]
    @macp NVARCHAR(10),
    @Ngay NVARCHAR(10),
    @LoaiGD CHAR(1),
    @soluongMB INT,
    @giadatMB FLOAT,
    @malenhMB INT
AS
BEGIN
	BEGIN TRANSACTION;

	BEGIN TRY
		SET DATEFORMAT DMY
		DECLARE @CrsrVar CURSOR , @ngaydat NVARCHAR( 10), @soluong INT, @giadat FLOAT,  @soluongkhop INT, @giakhop FLOAT,  @malenhdat INT, @phi FLOAT, @matknh NVARCHAR(50), @mandt INT;

		 IF (@LoaiGD='B')
		   EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'M'
		 ELSE 
		  EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'B'

		-- VÒNG LẬP CON TRỎ
		FETCH NEXT FROM @CrsrVar  INTO  @ngaydat , @soluong , @giadat , @malenhdat

		WHILE (@@FETCH_STATUS <> -1 AND @soluongMB > 0)
		BEGIN
			IF @LoaiGD = 'B'
			BEGIN
				IF @giadatMB < @giadat
				BEGIN 
					IF @soluongMB > @soluong
					BEGIN 
						SET @soluongkhop = @soluong
						SET @giakhop = @giadat
						SET @soluongMB = @soluongMB - @soluong
						-- CẬP NHẬT LẠI DÒNG VỪA TÌM
						UPDATE dbo.LENHDAT  
						  SET SOLUONG = 0,
							  TRANGTHAI = 'KHOP HET'
						  WHERE CURRENT OF @CrsrVar

						-- CẬP NHẬT DONG CẦM ĐI KHỚP DÒNG KHÁC
						UPDATE dbo.LENHDAT
						SET SOLUONG = SOLUONG - @soluongMB,
							TRANGTHAI = 'KHOP MOT PHAN'
						WHERE ID = @malenhMB;

					END
					ELSE
					BEGIN
					  SET @soluongkhop = @soluongMB
					  SET @giakhop = @giadat
			  
					  -- CẬP NHẬT LẠI DÒNG VỪA TÌM
					  UPDATE dbo.LENHDAT  
						 SET SOLUONG = SOLUONG - @soluongMB,
							 TRANGTHAI = 'KHOP MOT PHAN'
						 WHERE CURRENT OF @CrsrVar

					  -- CẬP NHẬT DONG CẦM ĐI KHỚP DÒNG KHÁC
					  UPDATE dbo.LENHDAT
					  SET SOLUONG = 0,
						TRANGTHAI = 'KHOP HET'
					  WHERE ID = @malenhMB;


					  SET @soluongMB = 0
					END

						-- CẬP NHẬT BẢNG KHỚP LỆNH
						SET @phi = (@soluongkhop * @giakhop) * 0.03;
						INSERT INTO [dbo].[LENHKHOP] (NGAYKHOP,SOLUONGKHOP,GIAKHOP,PHI,MALENHDAT)
						VALUES (GETDATE(), @soluongkhop, @giakhop,@phi,@malenhdat),
							   (GETDATE(), @soluongkhop, @giakhop,@phi,@malenhMB);

						-- CẬP NHẬT TÀI KHOẢN NGÂN HÀNG BÂN BÁN
						SELECT @matknh = MATKNH FROM dbo.LENHDAT WHERE ID = @malenhMB;
						UPDATE TAIKHOANNGANHANG SET SODU = (SODU +(@soluongkhop * @giakhop)) - @phi WHERE MATK = @matknh;

						-- CẬP NHẬT SỞ HỮU CỔ PHIẾU BÊN BÁN
						SELECT @mandt = IDNDT FROM dbo.TAIKHOANNGANHANG WHERE MATK = @matknh;
						UPDATE SOHUUCOPHIEU SET SOLUONG = SOLUONG - @soluongkhop WHERE MANDT = @mandt AND MACP = @macp;


						-- CẬP NHẬT TÀI KHOẢN NGÂN HÀNG BÂN MUA
						SELECT @matknh = MATKNH FROM dbo.LENHDAT WHERE ID = @malenhdat;
						UPDATE TAIKHOANNGANHANG SET SODU = (SODU - (@soluongkhop * @giakhop)) - @phi WHERE MATK = @matknh;

						-- CẬP NHẬT SỞ HỮU CỔ PHIẾU BÊN MUA
						SELECT @mandt = IDNDT FROM dbo.TAIKHOANNGANHANG WHERE MATK = @matknh;
						UPDATE SOHUUCOPHIEU SET SOLUONG = SOLUONG + @soluongkhop WHERE MANDT = @mandt AND MACP = @macp;

				END
			END
			ELSE
			BEGIN 
				IF @giadatMB >= @giadat
				BEGIN 
					IF @soluongMB > @soluong
					BEGIN 
						SET @soluongkhop = @soluong
						SET @giakhop = @giadat
						SET @soluongMB = @soluongMB - @soluong
						-- CẬP NHẬT LẠI DÒNG VỪA TÌM
						UPDATE dbo.LENHDAT  
							SET SOLUONG = 0,
								TRANGTHAI = 'KHOP HET'
							WHERE CURRENT OF @CrsrVar

						-- CẬP NHẬT DONG CẦM ĐI KHỚP DÒNG KHÁC
						UPDATE dbo.LENHDAT
						SET SOLUONG = SOLUONG - @soluongMB,
							 TRANGTHAI = CASE 
											WHEN SOLUONG - @soluongMB <= 0 THEN 'KHOP HET'
											ELSE 'KHOP MOT PHAN'
										 END
						WHERE ID = @malenhMB;

					END
					ELSE
					BEGIN
						SET @soluongkhop = @soluongMB
						SET @giakhop = @giadat
			  
						-- CẬP NHẬT LẠI DÒNG VỪA TÌM
						UPDATE dbo.LENHDAT  
							SET SOLUONG = SOLUONG - @soluongMB,
								TRANGTHAI = CASE 
												WHEN SOLUONG - @soluongMB <= 0 THEN 'KHOP HET'
												ELSE 'KHOP MOT PHAN'
											END
							WHERE CURRENT OF @CrsrVar

						-- CẬP NHẬT DONG CẦM ĐI KHỚP DÒNG KHÁC
						UPDATE dbo.LENHDAT
						SET SOLUONG = 0,
						TRANGTHAI = 'KHOP HET'
						WHERE ID = @malenhMB;


						SET @soluongMB = 0
					END

					-- CẬP NHẬT BẢNG KHỚP LỆNH
					SET @phi = (@soluongkhop * @giakhop) * 0.03;
					INSERT INTO [dbo].[LENHKHOP] (NGAYKHOP,SOLUONGKHOP,GIAKHOP,PHI,MALENHDAT)
					VALUES (GETDATE(), @soluongkhop, @giakhop,@phi,@malenhdat),
							(GETDATE(), @soluongkhop, @giakhop,@phi,@malenhMB);

					-- CẬP NHẬT TÀI KHOẢN NGÂN HÀNG BÂN MUA
					SELECT @matknh = MATKNH FROM dbo.LENHDAT WHERE ID = @malenhMB;
					UPDATE TAIKHOANNGANHANG SET SODU = (SODU -(@soluongkhop * @giakhop)) - @phi WHERE MATK = @matknh;

					-- CẬP NHẬT SỞ HỮU CỔ PHIẾU BÊN MUA
					SELECT @mandt = IDNDT FROM dbo.TAIKHOANNGANHANG WHERE MATK = @matknh;
					UPDATE SOHUUCOPHIEU SET SOLUONG = SOLUONG + @soluongkhop WHERE MANDT = @mandt AND MACP = @macp;

					-- CẬP NHẬT TÀI KHOẢN NGÂN HÀNG BÂN BÁN
					SELECT @matknh = MATKNH FROM dbo.LENHDAT WHERE ID = @malenhdat;
					UPDATE TAIKHOANNGANHANG SET SODU = (SODU + (@soluongkhop * @giakhop)) - @phi WHERE MATK = @matknh;

					-- CẬP NHẬT SỞ HỮU CỔ PHIẾU BÊN BÁN
					SELECT @mandt = IDNDT FROM dbo.TAIKHOANNGANHANG WHERE MATK = @matknh;
					UPDATE SOHUUCOPHIEU SET SOLUONG = SOLUONG - @soluongkhop WHERE MANDT = @mandt AND MACP = @macp;

				END

			END
    
    
			-- Lấy dữ liệu tiếp theo
			FETCH NEXT FROM @CrsrVar INTO @ngaydat, @soluong, @giadat, @malenhdat;
		END

		-- ĐÓNG VÀ HỦY CON TRỎ
		CLOSE @CrsrVar
		DEALLOCATE @CrsrVar

		-- Commit nếu không có lỗi
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		-- Rollback nếu có lỗi
		ROLLBACK TRANSACTION;

		-- Thông báo lỗi
		PRINT 'Có lỗi xảy ra: ' + ERROR_MESSAGE();
	END CATCH;
END








GO
/****** Object:  StoredProcedure [dbo].[SP_LAYLOGINNAME]    Script Date: 11/24/2024 11:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYLOGINNAME] @USERNAME NVARCHAR(50)
AS
BEGIN

	
	SELECT NAME FROM sys.syslogins WHERE SID = (SELECT sid FROM SYS.sysusers WHERE name = @USERNAME)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_SOHUUCOPHIEU]    Script Date: 11/24/2024 11:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SOHUUCOPHIEU]
    @Mandt INT
AS
BEGIN
    SELECT 
        MACP, 
        SOLUONG, 
        (SELECT TOP 1 GIATHAMCHIEU 
         FROM LICHSUGIA 
         WHERE IDCOPHIEU = SH.MACP 
         ORDER BY Ngay DESC) AS GIAMOI,
        SOLUONG * 
        (SELECT TOP 1 GIATHAMCHIEU 
         FROM LICHSUGIA 
         WHERE IDCOPHIEU = SH.MACP 
         ORDER BY Ngay DESC) AS GIATRI
    FROM SOHUUCOPHIEU SH 
    WHERE SH.MANDT = @Mandt;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SOKELENHKHOP]    Script Date: 11/24/2024 11:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SOKELENHKHOP]
    @IDNDT INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT NGAYKHOP, MACP, LOAIGD, LOAILENH, SOLUONGKHOP, GIAKHOP
    FROM LENHDAT LD
    INNER JOIN LENHKHOP LK ON LD.ID = LK.MALENHDAT
    WHERE LD.MATKNH IN (SELECT TK.MATK
                        FROM TAIKHOANNGANHANG TK 
                        WHERE TK.IDNDT = @IDNDT)
          AND LK.NGAYKHOP BETWEEN @StartDate AND @EndDate
    ORDER BY LK.NGAYKHOP DESC;
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 11/24/2024 11:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
BEGIN

	  DECLARE @RET INT
	  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'CHUNGKHOAN'
	  IF (@RET =1)  -- LOGIN NAME BI TRUNG
	  BEGIN
		 RETURN 1
	  END
 
	  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
	  IF (@RET =1)  -- USER  NAME BI TRUNG
	  BEGIN
		   EXEC SP_DROPLOGIN @LGNAME
		   RETURN 2
	  END



	 EXEC sp_addrolemember @ROLE, @USERNAME
	 EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'

RETURN 0  -- THANH CONG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TINHGIA]    Script Date: 11/24/2024 11:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_TINHGIA]
AS
BEGIN
	DECLARE cursorCoPhieu CURSOR FOR SELECT MACP, IDSAN FROM COPHIEU;
	OPEN cursorCoPhieu;

	DECLARE @MACP NVARCHAR(10);
	DECLARE @MASAN NVARCHAR(10);
	DECLARE @BIENDO FLOAT;
	DECLARE @GIATHAMCHIEU FLOAT;

	FETCH NEXT FROM cursorCoPhieu INTO @MACP, @MASAN;
	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- TÌM BIÊN ĐỘ THAY ĐỔI
		SELECT TOP 1 @BIENDO = GIATRI
		FROM THAYDOIGIADANHMUC TDGDM
		INNER JOIN CTDANHMUC CTDM ON TDGDM.IDCTDANHMUC = CTDM.ID
		WHERE CTDM.IDQUYDINH = 2 AND CTDM.IDSAN = @MASAN;

		-- TÌM LỆNH KHỚP GẦN ĐÂY NHẤT
		SELECT TOP 1 @GIATHAMCHIEU = GIAKHOP
		FROM LENHKHOP LK 
		INNER JOIN LENHDAT LD ON LK.MALENHDAT = LD.ID
		WHERE LD.MACP = @MACP
		ORDER BY LK.NGAYKHOP DESC;

		-- CẬP NHẬT BẢNG LỊCH SỬ GIÁ 
		IF @GIATHAMCHIEU IS NULL
		BEGIN
			-- Nếu @GIATHAMCHIEU là NULL, thực hiện INSERT với giá trị gần nhất
			INSERT INTO [dbo].[LICHSUGIA] (GIASAN, GIATRAN, GIATHAMCHIEU, IDCOPHIEU, NGAY)
			SELECT TOP 1 GIASAN, GIATRAN, GIATHAMCHIEU, @MACP, GETDATE()
			FROM [dbo].[LICHSUGIA]
			WHERE IDCOPHIEU = @MACP
			ORDER BY NGAY DESC; 
		END
		ELSE
		BEGIN
			-- Nếu @GIATHAMCHIEU không phải là NULL, thực hiện INSERT với các giá trị đã cho
			INSERT INTO [dbo].[LICHSUGIA] (GIASAN, GIATRAN, GIATHAMCHIEU, IDCOPHIEU, NGAY)
			VALUES (@GIATHAMCHIEU - @GIATHAMCHIEU * @BIENDO, 
					@GIATHAMCHIEU + @GIATHAMCHIEU * @BIENDO, 
					@GIATHAMCHIEU, 
					@MACP, 
					GETDATE());
		END

	
		-- Fetch tiếp theo
		SET @GIATHAMCHIEU = NULL;
		FETCH NEXT FROM cursorCoPhieu INTO @MACP, @MASAN;
	END


	CLOSE cursorCoPhieu;
	DEALLOCATE cursorCoPhieu;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOALOGIN]    Script Date: 11/24/2024 11:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOALOGIN]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
GO
